* {
  font-family: 'Popping';
}

/* ROOT */

:root {
  --green: #0fa;
  --purple: #9c42f5;
  --blue: #4579f5;
}

::selection {
  background-color: var(--purple);
  color: white;
}

/* GLOBALS */
body {
  background-color: #212429;
  color: white;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 70px;
}

h4 {
  font-size: 36px;
}

a,
p {
  font-size: 16px;
  opacity: .8;
}

h1 .font-secundary {
  font-family: 'Great-vibes';
  font-weight: 300;
  font-size: 5rem;

}

.font-secundary {
  font-family: 'Great-vibes' !important;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}



/* FONT PRIMARY */
@font-face {
  font-family: 'Popping';
  src: url(./assets/font/Poppins-Light.ttf);
  font-display: swap;
}

/* FONT SECUNDARY */
@font-face {
  font-family: 'Great-vibes';
  src: url(./assets/font/Great_Vibes/GreatVibes-Regular.ttf);
  font-display: swap;
}